<mat-toolbar>
  <a routerLink="/home">
    <button mat-button>Home</button>
  </a>
  <a routerLink="/search">
    <button mat-button>Search</button>
  </a>
  <a routerLink="/sell">
    <button mat-button>Sell</button>
  </a>
  <a routerLink="/register">
    <button mat-button>Register</button>
  </a>
  <a routerLink="/login">
    <button mat-button>Login</button>
  </a>
  <a routerLink="/about">
    <button mat-button>About</button>
  </a>
  <button mat-button class="email">
    {{ email }}
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
