body {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}

h1 {
  font-size: xx-large;
}

.email {
  position: absolute;
  right: 0;
}

button {
  text-decoration: none;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: darkgray;
}
@media all and (max-width: 475px) {
    .email { display: none; }
    h1 { font-size: medium;}
}