body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: aquamarine;
}

.email {
  position: absolute;
  right: 0;
}

button {
  text-decoration: none;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: darkgray;
}
@media all and (max-width: 475px) {
    .email { display: none; }
}

