<mat-toolbar>
    <a routerLink="/home">
      <button mat-button><h1>Home</h1></button>
    </a>
    <a routerLink="/search">
      <button mat-button><h1>Search</h1></button>
    </a>
    <a routerLink="/sell">
      <button mat-button><h1>Sell</h1></button>
    </a>
    <a routerLink="/register">
      <button mat-button><h1>Register</h1></button>
    </a>
    <a routerLink="/login">
      <button mat-button><h1>Login</h1></button>
    </a>
    <a routerLink="/about">
      <button mat-button><h1>About</h1></button>
    </a>
    <button mat-button class="email">
      {{ email }}
    </button>
</mat-toolbar>
<router-outlet></router-outlet>
